<!doctype html>
<title>Hello from Flask</title>
{% if filename %}
  <h1>some text
      <img src="{{ url_for('serve_image', filename=filename) }}"> 
      more text!</h1>
{% else %}
  <h1>no image for whatever reason</h1>
{% endif %}

<table>
    <tr>
        <td>initial image</td>
        <td>face</td>
    </tr>
    <tr>
        <td> <img src="{{ url_for('serve_image', filename=origin) }}"> </td>
        <td> <img src="{{ url_for('serve_image', filename=detection) }}"> </td>
    </tr>
</table>
